.sign-in-container{
    display: flex;
    flex-direction: column;
    width: 25rem;
    h2 {
        margin: .7rem 0;
    }
    span{
        font-weight: lighter;
        font-size: 14px;
    }
    .buttons-container{
        display: flex;
        justify-content: space-between;
    }
}
