.navigation {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid #0001 1px;

    .logo-container {
      height: 100%;
      width: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .nav-links-container {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .nav-link {
        padding: 10px 15px;
        cursor: pointer;
        color: #323;
        transition: cubic-bezier(0.165, 0.84, 0.44, 1) 1.25s ;
      }
      .nav-link:hover{
        color: #000;
      }
    }
  }