.authentication-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 55rem;
    margin: 1.5rem auto;
}

@media (min-width: 1024px){
    .authentication-container{
        flex-direction: row;
    }
}